<h1>Editing sample submission</h1>

<%= render "form", sample_submission: @sample_submission %>

<br>

<div>
  <%= link_to "Show this sample submission", @sample_submission %> |
  <%= link_to "Back to sample submissions", sample_submissions_path, class: "btn btn-primary" %>
</div>
